#canteen .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#canteen .container .row{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    align-items: center;
}

#canteen .container .canteen-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 40px;
    transition: .4s;
}

#canteen .container .canteen-card a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
    color: #585858;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

#canteen .container .canteen-card:hover{
    transform: translate(0px, -10px);
}

#canteen .container .row .canteen-card img{
    width: 200px;
    height: 200px;
    left: 96px;
    top: 226px;
    border-radius: 100px;
}